In [3]:
import pandas as pd
import datetime

In [4]:
customers = {
    'CustomerId': [1,2,3,4],
    'FirstName': ["Ahmet","Ali","Hasan","Canan"],
    'LastName': ["Yılmaz","Korkmaz","Çelik","Toprak"],
    'OrderDate': [datetime.date(2023,2,1),datetime.date(2023,1,1),
                       datetime.date(2023,2,2),datetime.date(2023,1,1)]
    
}

orders = {
    'OrderId': [10,11,12,13],
    'CustomerId': [1,2,5,7],
    'OrderDate': [datetime.date(2023,2,1),datetime.date(2023,1,1),
                       datetime.date(2023,2,2),datetime.date(2023,1,1)]
}


df_customers = pd.DataFrame(customers, columns = ["CustomerId","FirstName","LastName","OrderDate"])
df_orders = pd.DataFrame(orders, columns = ["OrderId","CustomerId","OrderDate"])
# print(df_customers)
# print(df_orders)

In [5]:

result = pd.merge(df_customers,df_orders,how="inner")    # inner merge is default merge, inner >> intersection

print(result)

   CustomerId FirstName LastName   OrderDate  OrderId
0           1     Ahmet   Yılmaz  2023-02-01       10
1           2       Ali  Korkmaz  2023-01-01       11

In [6]:
result = pd.merge(df_customers,df_orders,how="outer")   # outer merger >>> union
print(result)

   CustomerId FirstName LastName   OrderDate  OrderId
0           1     Ahmet   Yılmaz  2023-02-01     10.0
1           2       Ali  Korkmaz  2023-01-01     11.0
2           3     Hasan    Çelik  2023-02-02      NaN
3           4     Canan   Toprak  2023-01-01      NaN
4           5       NaN      NaN  2023-02-02     12.0
5           7       NaN      NaN  2023-01-01     13.0

In [7]:
result = pd.merge(df_customers,df_orders,how="left")
print(result)

   CustomerId FirstName LastName   OrderDate  OrderId
0           1     Ahmet   Yılmaz  2023-02-01     10.0
1           2       Ali  Korkmaz  2023-01-01     11.0
2           3     Hasan    Çelik  2023-02-02      NaN
3           4     Canan   Toprak  2023-01-01      NaN

In [8]:
result = pd.merge(df_customers,df_orders,how="right")
print(result)

   CustomerId FirstName LastName   OrderDate  OrderId
0           1     Ahmet   Yılmaz  2023-02-01       10
1           2       Ali  Korkmaz  2023-01-01       11
2           5       NaN      NaN  2023-02-02       12
3           7       NaN      NaN  2023-01-01       13

In [9]:
df_merged =pd.merge(df_customers,df_orders, on='OrderDate',suffixes=("_left", "_right"))                        # merging on OrderDate but the tables have similar columns with identical names
print(df_merged)

   CustomerId_left FirstName LastName   OrderDate  OrderId  CustomerId_right
0                1     Ahmet   Yılmaz  2023-02-01       10                 1
1                2       Ali  Korkmaz  2023-01-01       11                 2
2                2       Ali  Korkmaz  2023-01-01       13                 7
3                4     Canan   Toprak  2023-01-01       11                 2
4                4     Canan   Toprak  2023-01-01       13                 7
5                3     Hasan    Çelik  2023-02-02       12                 5

In [10]:
df_merged =pd.merge(df_customers,df_orders, on=['CustomerId', 'OrderDate'] ,suffixes=("_left", "_right"))        # you can merge on multiple columns
print(df_merged)

   CustomerId FirstName LastName   OrderDate  OrderId
0           1     Ahmet   Yılmaz  2023-02-01       10
1           2       Ali  Korkmaz  2023-01-01       11

In [11]:
df_orders.rename(columns={'CustomerId':'Customer_Id'},inplace=True)
pd.merge(df_customers,df_orders,left_on='CustomerId', right_on='Customer_Id')                                   # merging on columns with different column names

   CustomerId FirstName LastName OrderDate_x  OrderId  Customer_Id OrderDate_y
0           1     Ahmet   Yılmaz  2023-02-01       10            1  2023-02-01
1           2       Ali  Korkmaz  2023-01-01       11            2  2023-01-01

In [12]:
customersA = {
    'CustomerId': [1,2,3,4],
    'FirstName': ["Ahmet","Ali","Hasan","Canan"],
    'LastName': ["Yılmaz","Korkmaz","Çelik","Toprak"]
}

customersB = {
    'CustomerId': [4,5,6,7],
    'FirstName': ["Yağmur","Çınar","Cengiz","Can"],
    'LastName': ["Bilge","Turan","Yılmaz","Turan"]
}

In [13]:
df_customersA = pd.DataFrame(customersA, columns = ["CustomerId","FirstName","LastName"])
df_customersB = pd.DataFrame(customersB, columns = ["CustomerId","FirstName","LastName"])

result = pd.concat([df_customersA,df_customersB])
result = pd.concat([df_customersA,df_customersB],axis=1)


print(result)

   CustomerId FirstName LastName  CustomerId FirstName LastName
0           1     Ahmet   Yılmaz           4    Yağmur    Bilge
1           2       Ali  Korkmaz           5     Çınar    Turan
2           3     Hasan    Çelik           6    Cengiz   Yılmaz
3           4     Canan   Toprak           7       Can    Turan