In [55]:
import pandas as pd
import numpy as np
from datetime import datetime

In [56]:
date = datetime(2014, 12, 15)
date

datetime.datetime(2014, 12, 15, 0, 0)

In [57]:
date_with_hour_minutes = datetime(2014, 12, 15, 17, 30)

In [58]:
datetime.now()

datetime.datetime(2024, 1, 19, 8, 14, 29, 176420)

### Pandas TimeStamp Object

In [59]:
pandas_date = pd.Timestamp('2014-12-15')
pandas_date

Timestamp('2014-12-15 00:00:00')

In [60]:
# Adds datestamp
pd.Timestamp('17:30')

Timestamp('2024-01-19 17:30:00')

In [61]:
pd.Timestamp("now")

Timestamp('2024-01-19 08:14:29.224978')

### Time Delta to create difference in two timestamps

In [67]:
today = datetime.today()
tomorrow = today + pd.Timedelta(days=2)
tomorrow

datetime.datetime(2024, 1, 21, 8, 20, 6, 728094)

In [68]:
today = datetime(2024, 12, 31)

tomorrow = today + pd.Timedelta(days=1)
tomorrow

datetime.datetime(2025, 1, 1, 0, 0)

In [69]:
date1 = datetime(2014, 12, 10)

date2 = datetime(2014, 11, 28)

date1 - date2

datetime.timedelta(days=12)

In [70]:
date1-pd.Timedelta(weeks=-1)

datetime.datetime(2014, 12, 17, 0, 0)

## DatetimeIndex
Sequences of timestamp objects are represented by pandas as DatetimeIndex,
which is a type of pandas index that is optimized for indexing by date and time.
There are several ways to create DatetimeIndex objects in pandas. The following
creates a DateTimeindex by passing a list of datetime objects as Series:

In [72]:
dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]
timeseries=pd.Series(np.random.randn(2), dates)
print(timeseries)
timeseries.index

2014-08-01    0.160527
2014-08-02    2.917781
dtype: float64

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [73]:
# Second method convert a sequence of objects to a DatetimeIndex

dti = pd.to_datetime(['Aug 1, 2014','2014-08-02','2014.8.3',None])
dti

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [74]:
for x in dti: 
    print (x)

2014-08-01 00:00:00
2014-08-02 00:00:00
2014-08-03 00:00:00
NaT

## Date Range

In [83]:
periods = pd.date_range('8/1/2014', periods=10)
np.random.seed(123456)
date_series = pd.Series(np.random.randint(10,100,(10)), index=periods)
date_series

2014-08-01    75
2014-08-02    59
2014-08-03    66
2014-08-04    53
2014-08-05    53
2014-08-06    42
2014-08-07    97
2014-08-08    46
2014-08-09    18
2014-08-10    84
Freq: D, dtype: int32

In [84]:
periods = pd.date_range('8/1/2014', periods=10,freq="W")
np.random.seed(123456)
date_series = pd.Series(np.random.randn(10), index=periods)
date_series

2014-08-03    0.469112
2014-08-10   -0.282863
2014-08-17   -1.509059
2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
2014-09-21   -1.044236
2014-09-28   -0.861849
2014-10-05   -2.104569
Freq: W-SUN, dtype: float64

In [86]:
subset = date_series[3:7]
s2 = pd.Series([10, 100, 1000, 10000], index=subset.index)
s2

2014-08-24       10
2014-08-31      100
2014-09-07     1000
2014-09-14    10000
Freq: W-SUN, dtype: int64

In [87]:
date_series + s2

2014-08-03             NaN
2014-08-10             NaN
2014-08-17             NaN
2014-08-24        8.864368
2014-08-31      101.212112
2014-09-07      999.826785
2014-09-14    10000.119209
2014-09-21             NaN
2014-09-28             NaN
2014-10-05             NaN
Freq: W-SUN, dtype: float64

In [88]:
date_series['2014-08-10': '2014-09-25']         # slicing using DatetimeIndex

2014-08-10   -0.282863
2014-08-17   -1.509059
2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
2014-09-21   -1.044236
Freq: W-SUN, dtype: float64

In [89]:
s3 = pd.Series(np.random.randn(730)*10, pd.date_range('2013-01-01', '2014-12-31'))
s3

2013-01-01    -4.949293
2013-01-02    10.718038
2013-01-03     7.215552
2013-01-04    -7.067711
2013-01-05   -10.395750
                ...
2014-12-27    -2.739551
2014-12-28    -7.723693
2014-12-29   -12.428066
2014-12-30    -3.863363
2014-12-31    -1.824856
Freq: D, Length: 730, dtype: float64

In [90]:
# s3['2014-08':'2014-09']
s3['2014-05']

2014-05-01    -7.302549
2014-05-02    -3.392505
2014-05-03    16.087001
2014-05-04    -6.856717
2014-05-05     6.936703
2014-05-06    17.778371
2014-05-07     9.424523
2014-05-08     1.318035
2014-05-09    19.633491
2014-05-10     5.683759
2014-05-11     2.259349
2014-05-12     3.679318
2014-05-13    -4.637516
2014-05-14    -0.552893
2014-05-15    -3.608528
2014-05-16     7.281973
2014-05-17    13.267680
2014-05-18     2.089269
2014-05-19     2.920581
2014-05-20   -20.196103
2014-05-21    -0.217630
2014-05-22    -0.471522
2014-05-23     0.884721
2014-05-24    -8.574355
2014-05-25   -25.037857
2014-05-26   -10.580412
2014-05-27    -6.579812
2014-05-28    24.615912
2014-05-29     1.514118
2014-05-30   -20.385679
2014-05-31     1.429598
Freq: D, dtype: float64

## Creating time-series data with specific frequencies

In [91]:
np.random.seed(123456)
bymin = pd.Series(np.random.randn(129600),pd.date_range('2014-08-01','2014-10-29 23:59',freq='T'))
bymin

2014-08-01 00:00:00    0.469112
2014-08-01 00:01:00   -0.282863
2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
                         ...
2014-10-29 23:55:00   -0.563029
2014-10-29 23:56:00    1.180497
2014-10-29 23:57:00    1.850604
2014-10-29 23:58:00   -1.589660
2014-10-29 23:59:00    0.266429
Freq: T, Length: 129600, dtype: float64

In [ ]:
# minutes=90*24*60
# bymin['2014-08-01 00:02':'2014-08-01 00:10']

In [92]:
days = pd.date_range('2023-01-1', '2023-02-18', freq='B')
for d in days : print (d)

2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00
2023-02-13 00:00:00
2023-02-14 00:00:00
2023-02-15 00:00:00
2023-02-16 00:00:00
2023-02-17 00:00:00

In [93]:
pd.date_range('2014-08-01 12:10:01', freq='S', periods=10)

DatetimeIndex(['2014-08-01 12:10:01', '2014-08-01 12:10:02',
               '2014-08-01 12:10:03', '2014-08-01 12:10:04',
               '2014-08-01 12:10:05', '2014-08-01 12:10:06',
               '2014-08-01 12:10:07', '2014-08-01 12:10:08',
               '2014-08-01 12:10:09', '2014-08-01 12:10:10'],
              dtype='datetime64[ns]', freq='S')

### Calculating new dates using offsets

In [94]:
# get all business days between and inclusive of these two dates
dti = pd.date_range('2014-08-29', '2014-09-05', freq='B')
dti.values

array(['2014-08-29T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-03T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [95]:
dti.freq

In [96]:
# calculate a one day offset from 2014-8-29
d = datetime(2014, 8, 29)


do = pd.DateOffset(days = 1)
d + do

Timestamp('2014-08-30 00:00:00')

In [97]:
d = datetime(2014, 8, 25)


do = pd.DateOffset(n=3)
d + do

Timestamp('2014-08-28 00:00:00')

In [98]:
d = datetime(2014, 8, 25)


do = pd.offsets.MonthEnd()
d + do

Timestamp('2014-08-31 00:00:00')