In [3]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [4]:
df = pd.DataFrame(np.random.randint(1,100, (3,3)), index = ["A","B","C"], columns = ["Column1","Column2","Column3"])
df

   Column1  Column2  Column3
A       73       63       73
B       60       43       78
C       78       14       12

In [ ]:
# df.rename(columns={'Column1':'Col_1', 'Column2':'Col_2','Column3':'Col_3'},inplace=True)

In [5]:
# loc["row","column"] => loc["row"] => loc[":","column"]

In [6]:
result = df.loc["A"]
print(result)
type(df.loc["A"])

Column1    73
Column2    63
Column3    73
Name: A, dtype: int32

pandas.core.series.Series

In [7]:
# result = df.loc[:,"Column1"]
# result = df.loc[:,["Column1","Column2"]]
# result = df.loc[:,"Column1":"Column2"]
result = df.loc[:,:"Column2"]
print(result)

   Column1  Column2
A       73       63
B       60       43
C       78       14

In [8]:
result = df.loc["A","Column2"]
result = df.loc[:"B",:"Column2"]
result = df.loc[["A","B"],["Column1","Column3"]]
print(result)

   Column1  Column3
A       73       73
B       60       78

In [13]:
df.iloc[::2] 
# df.iloc[-1]
# df.iloc[0:3,2] 		#Specify row and then column
# df.iloc[0:3] 		#Only specify the rows

   Column1  Column2  Column3
A       73       63       73
C       78       14       12

#### **Note**
**Integer Indexer**: Limit value in excluded.

**Non-Inger Indexer**: Limit value in included.