In [45]:
import pandas as pd
import numpy as np

In [46]:
df = pd.DataFrame({
    'names':['Sarah','Ahmed','Ali'],
    'age':[50,60,70],
    'cgpa':[3.4,2.9,3.6],
    'marks':[-5,2,6],
    'address':['Karachi','Lahore','Islamabad']    
})
df

   names  age  cgpa  marks    address
0  Sarah   50   3.4     -5    Karachi
1  Ahmed   60   2.9      2     Lahore
2    Ali   70   3.6      6  Islamabad

In [47]:
df['marks'].abs()

0    5
1    2
2    6
Name: marks, dtype: int64

In [48]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
a.add(b, fill_value=0)

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

In [49]:
list =[1, 2, 3] 
# df["marks"]= df["marks"].add(list) 
# df["marks"]= df["marks"].mul(list) 
df["marks"]= df["marks"].div(list) 
print(df)

   names  age  cgpa  marks    address
0  Sarah   50   3.4   -5.0    Karachi
1  Ahmed   60   2.9    1.0     Lahore
2    Ali   70   3.6    2.0  Islamabad

In [50]:
# df["marks"]= df["marks"].pow(2) 
df["marks"]= df["marks"].pow(list) 
print(df)

   names  age  cgpa  marks    address
0  Sarah   50   3.4   -5.0    Karachi
1  Ahmed   60   2.9    1.0     Lahore
2    Ali   70   3.6    8.0  Islamabad