In [10]:
import pandas as pd
import numpy as np

In [11]:
data = {
    "Column1": [1,2,3,4,5],
    "Column2": [10,70,50,20,85],
    "Column3": ["abc","bcaa","ade","cb","dea"]
}

df = pd.DataFrame(data)

In [12]:
def muraba(x):
    return x * x

In [13]:
result = df["Column1"].apply(muraba)
result = df["Column1"].apply(lambda x: x * x)

# Aggregate using one or more operations over the specified axis.
result = df["Column1"].agg(lambda x: x * x)

print(result)

0     1
1     4
2     9
3    16
4    25
Name: Column1, dtype: int64

In [14]:
df["Column4"] = df["Column2"].apply(lambda x: np.where(x>40, "High", "Low"))
df

   Column1  Column2 Column3 Column4
0        1       10     abc     Low
1        2       70    bcaa    High
2        3       50     ade    High
3        4       20      cb     Low
4        5       85     dea    High

In [15]:
df["Column1"].agg(['min', 'max'])

min    1
max    5
Name: Column1, dtype: int64

In [16]:
data = {
    "Ay": ["May覺s","Haziran","Nisan","May覺s","Haziran","Nisan","May覺s","Haziran","Nisan"],
    "Kategori": ["Elektronik","Elektronik","Elektronik","Kitap","Kitap","Kitap","Giyim","Giyim","Giyim"],
    "Gelir": [20,30,15,14,32,42,12,36,52]
}

df = pd.DataFrame(data)
print(df.pivot_table(index="Ay",columns= "Kategori", values= "Gelir"))

Kategori  Elektronik  Giyim  Kitap
Ay
Haziran           30     36     32
May覺s             20     12     14
Nisan             15     52     42